<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link type="text/css" href="/css/cupertino/jquery-ui-1.8.14.custom.css" rel="stylesheet" />	
	<link type="text/css" href="/css/main.css" rel="stylesheet" />
	<title>Profile View</title>
</head>
<body>

<div id="container">
	<div id="wrapper">
		<div id="content">
			{% if userinfo %}
				<a href='/logout'>Logout</a>
				<table id="parameters">
					<th>Field</th>
				 	<th>Value</th>
				    {% for key,value in userinfo.items %}
						{% if key != 'picture' %}		
							<tr>
								<td id="field">{{key}}</td>
								<td>{{value}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					{% if 'picture' in userinfo %}
						<tr>
							<td id="field">picture<td>
							<img src='{{userinfo.picture}}' alt='profile picture' width='100px'/>
						</tr>
					{% endif %}
				</table>
			{% else %}
				<a href='{{target_url}}'>Login</a>
				<p>Click the link above to retrieve your profile information<p>
			{% endif %}
		</div>
	</div>
	<div id="footer">
		<p>This site demonstrates <a href='http://code.google.com/apis/accounts/docs/OAuth2Login.html'>Google's OAuth 2.0 login support</a>. It's a prototype and should be treated that way. Source available at <a href="https://github.com/justinjsmith/oauth-login-demo">GitHub</a>
			</p>
			<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
    </div>
   </div>
	

</body>
</html>
